monitor/org.wso2.carbon.statistics.transport.ui/4.2.0/src/main/resources/temp/TransportStatisticsAdmin-ver1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2292="http://util.services.transport.statistics.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.transport.statistics.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.transport.statistics.carbon.wso2.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.services.transport.statistics.carbon.wso2.org/xsd">
            <xs:complexType name="TransportStatistics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="transportListenerActiveThreadCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="transportListenerAvgSizeReceived" type="xs:double"/>
                    <xs:element minOccurs="0" name="transportListenerAvgSizeSent" type="xs:double"/>
                    <xs:element minOccurs="0" name="transportListenerBytesReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerBytesSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerClassName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transportListenerFaultsReceiving" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerFaultsSending" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerLastResetTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMaxSizeReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMaxSizeSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMessagesReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMessagesSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMetricsWindow" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMinSizeReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMinSizeSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerQueueSize" type="xs:int"/>
                    <xs:element minOccurs="0" name="transportListenerTimeoutsReceiving" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerTimeoutsSending" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderActiveThreadCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="transportSenderAvgSizeReceived" type="xs:double"/>
                    <xs:element minOccurs="0" name="transportSenderAvgSizeSent" type="xs:double"/>
                    <xs:element minOccurs="0" name="transportSenderBytesReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderBytesSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderClassName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transportSenderFaultsReceiving" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderFaultsSending" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderLastResetTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMaxSizeReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMaxSizeSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMessagesReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMessagesSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMetricsWindow" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMinSizeReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMinSizeSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderQueueSize" type="xs:int"/>
                    <xs:element minOccurs="0" name="transportSenderTimeoutsReceiving" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderTimeoutsSending" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ThreadViewStatistics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clientWorkerAvgBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="clientWorkerAvgUnblockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="clientWorkerDeadLockedWorkers" type="xs:int"/>
                    <xs:element minOccurs="0" name="clientWorkerLast15MinuteBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="clientWorkerLast24HourBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="clientWorkerLast5MinuteBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="clientWorkerLast8HourBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="clientWorkerLastHourBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="clientWorkerLastMinuteBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="clientWorkerLastResetTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="clientWorkerTotalWorkerCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="serverWorkerAvgBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="serverWorkerAvgUnblockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="serverWorkerDeadLockedWorkers" type="xs:int"/>
                    <xs:element minOccurs="0" name="serverWorkerLast15MinuteBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="serverWorkerLast24HourBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="serverWorkerLast5MinuteBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="serverWorkerLast8HourBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="serverWorkerLastHourBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="serverWorkerLastMinuteBlockedWorkerPercentage" type="xs:double"/>
                    <xs:element minOccurs="0" name="serverWorkerLastResetTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverWorkerTotalWorkerCount" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SystemTransportStatistics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="transportListenerActiveThreadCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="transportListenerAvgSizeReceived" type="xs:double"/>
                    <xs:element minOccurs="0" name="transportListenerAvgSizeSent" type="xs:double"/>
                    <xs:element minOccurs="0" name="transportListenerBytesReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerBytesSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerFaultsReceiving" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerFaultsSending" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerLastResetTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMaxSizeReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMaxSizeSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMessagesReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMessagesSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMetricsWindow" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMinSizeReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerMinSizeSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerQueueSize" type="xs:int"/>
                    <xs:element minOccurs="0" name="transportListenerTimeoutsReceiving" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportListenerTimeoutsSending" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderActiveThreadCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="transportSenderAvgSizeReceived" type="xs:double"/>
                    <xs:element minOccurs="0" name="transportSenderAvgSizeSent" type="xs:double"/>
                    <xs:element minOccurs="0" name="transportSenderBytesReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderBytesSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderFaultsReceiving" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderFaultsSending" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderLastResetTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMaxSizeReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMaxSizeSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMessagesReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMessagesSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMetricsWindow" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMinSizeReceived" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderMinSizeSent" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderQueueSize" type="xs:int"/>
                    <xs:element minOccurs="0" name="transportSenderTimeoutsReceiving" type="xs:long"/>
                    <xs:element minOccurs="0" name="transportSenderTimeoutsSending" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2293="http://util.services.transport.statistics.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.transport.statistics.carbon.wso2.org">
            <xs:import namespace="http://util.services.transport.statistics.carbon.wso2.org/xsd"/>
            <xs:element name="getTransportStatistic">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransportStatisticResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2293:TransportStatistics"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransportClassName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransportClassNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTimeoutsSending">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTimeoutsSendingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTimeoutsReceiving">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTimeoutsReceivingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getThreadViewStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2293:ThreadViewStatistics"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getQueueSize">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getQueueSizeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinSizeSent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinSizeSentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinSizeReceived">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinSizeReceivedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMetricsWindow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMetricsWindowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessagesSent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessagesSentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessagesReceived">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessagesReceivedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxSizeSent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxSizeSentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxSizeReceived">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxSizeReceivedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastResetTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastResetTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFaultsSending">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFaultsSendingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFaultsReceiving">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFaultsReceivingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExposedTransportsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBytesSent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBytesSentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBytesReceived">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBytesReceivedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgSizeSent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgSizeSentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgSizeReceived">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgSizeReceivedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTransportStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2293:SystemTransportStatistics"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveThreadCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveThreadCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getFaultsSendingRequest">
        <wsdl:part name="parameters" element="ns:getFaultsSending"/>
    </wsdl:message>
    <wsdl:message name="getFaultsSendingResponse">
        <wsdl:part name="parameters" element="ns:getFaultsSendingResponse"/>
    </wsdl:message>
    <wsdl:message name="getQueueSizeRequest">
        <wsdl:part name="parameters" element="ns:getQueueSize"/>
    </wsdl:message>
    <wsdl:message name="getQueueSizeResponse">
        <wsdl:part name="parameters" element="ns:getQueueSizeResponse"/>
    </wsdl:message>
    <wsdl:message name="getBytesSentRequest">
        <wsdl:part name="parameters" element="ns:getBytesSent"/>
    </wsdl:message>
    <wsdl:message name="getBytesSentResponse">
        <wsdl:part name="parameters" element="ns:getBytesSentResponse"/>
    </wsdl:message>
    <wsdl:message name="getMinSizeReceivedRequest">
        <wsdl:part name="parameters" element="ns:getMinSizeReceived"/>
    </wsdl:message>
    <wsdl:message name="getMinSizeReceivedResponse">
        <wsdl:part name="parameters" element="ns:getMinSizeReceivedResponse"/>
    </wsdl:message>
    <wsdl:message name="getTransportStatisticRequest">
        <wsdl:part name="parameters" element="ns:getTransportStatistic"/>
    </wsdl:message>
    <wsdl:message name="getTransportStatisticResponse">
        <wsdl:part name="parameters" element="ns:getTransportStatisticResponse"/>
    </wsdl:message>
    <wsdl:message name="getBytesReceivedRequest">
        <wsdl:part name="parameters" element="ns:getBytesReceived"/>
    </wsdl:message>
    <wsdl:message name="getBytesReceivedResponse">
        <wsdl:part name="parameters" element="ns:getBytesReceivedResponse"/>
    </wsdl:message>
    <wsdl:message name="getMinSizeSentRequest">
        <wsdl:part name="parameters" element="ns:getMinSizeSent"/>
    </wsdl:message>
    <wsdl:message name="getMinSizeSentResponse">
        <wsdl:part name="parameters" element="ns:getMinSizeSentResponse"/>
    </wsdl:message>
    <wsdl:message name="getTimeoutsSendingRequest">
        <wsdl:part name="parameters" element="ns:getTimeoutsSending"/>
    </wsdl:message>
    <wsdl:message name="getTimeoutsSendingResponse">
        <wsdl:part name="parameters" element="ns:getTimeoutsSendingResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllTransportStatisticsRequest"/>
    <wsdl:message name="getAllTransportStatisticsResponse">
        <wsdl:part name="parameters" element="ns:getAllTransportStatisticsResponse"/>
    </wsdl:message>
    <wsdl:message name="getFaultsReceivingRequest">
        <wsdl:part name="parameters" element="ns:getFaultsReceiving"/>
    </wsdl:message>
    <wsdl:message name="getFaultsReceivingResponse">
        <wsdl:part name="parameters" element="ns:getFaultsReceivingResponse"/>
    </wsdl:message>
    <wsdl:message name="getActiveThreadCountRequest">
        <wsdl:part name="parameters" element="ns:getActiveThreadCount"/>
    </wsdl:message>
    <wsdl:message name="getActiveThreadCountResponse">
        <wsdl:part name="parameters" element="ns:getActiveThreadCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getMaxSizeReceivedRequest">
        <wsdl:part name="parameters" element="ns:getMaxSizeReceived"/>
    </wsdl:message>
    <wsdl:message name="getMaxSizeReceivedResponse">
        <wsdl:part name="parameters" element="ns:getMaxSizeReceivedResponse"/>
    </wsdl:message>
    <wsdl:message name="getMaxSizeSentRequest">
        <wsdl:part name="parameters" element="ns:getMaxSizeSent"/>
    </wsdl:message>
    <wsdl:message name="getMaxSizeSentResponse">
        <wsdl:part name="parameters" element="ns:getMaxSizeSentResponse"/>
    </wsdl:message>
    <wsdl:message name="getMessagesReceivedRequest">
        <wsdl:part name="parameters" element="ns:getMessagesReceived"/>
    </wsdl:message>
    <wsdl:message name="getMessagesReceivedResponse">
        <wsdl:part name="parameters" element="ns:getMessagesReceivedResponse"/>
    </wsdl:message>
    <wsdl:message name="getMetricsWindowRequest">
        <wsdl:part name="parameters" element="ns:getMetricsWindow"/>
    </wsdl:message>
    <wsdl:message name="getMetricsWindowResponse">
        <wsdl:part name="parameters" element="ns:getMetricsWindowResponse"/>
    </wsdl:message>
    <wsdl:message name="getTimeoutsReceivingRequest">
        <wsdl:part name="parameters" element="ns:getTimeoutsReceiving"/>
    </wsdl:message>
    <wsdl:message name="getTimeoutsReceivingResponse">
        <wsdl:part name="parameters" element="ns:getTimeoutsReceivingResponse"/>
    </wsdl:message>
    <wsdl:message name="getThreadViewStatisticsRequest"/>
    <wsdl:message name="getThreadViewStatisticsResponse">
        <wsdl:part name="parameters" element="ns:getThreadViewStatisticsResponse"/>
    </wsdl:message>
    <wsdl:message name="getTransportClassNameRequest">
        <wsdl:part name="parameters" element="ns:getTransportClassName"/>
    </wsdl:message>
    <wsdl:message name="getTransportClassNameResponse">
        <wsdl:part name="parameters" element="ns:getTransportClassNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getAvgSizeReceivedRequest">
        <wsdl:part name="parameters" element="ns:getAvgSizeReceived"/>
    </wsdl:message>
    <wsdl:message name="getAvgSizeReceivedResponse">
        <wsdl:part name="parameters" element="ns:getAvgSizeReceivedResponse"/>
    </wsdl:message>
    <wsdl:message name="getExposedTransportsRequest"/>
    <wsdl:message name="getExposedTransportsResponse">
        <wsdl:part name="parameters" element="ns:getExposedTransportsResponse"/>
    </wsdl:message>
    <wsdl:message name="getLastResetTimeRequest">
        <wsdl:part name="parameters" element="ns:getLastResetTime"/>
    </wsdl:message>
    <wsdl:message name="getLastResetTimeResponse">
        <wsdl:part name="parameters" element="ns:getLastResetTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getAvgSizeSentRequest">
        <wsdl:part name="parameters" element="ns:getAvgSizeSent"/>
    </wsdl:message>
    <wsdl:message name="getAvgSizeSentResponse">
        <wsdl:part name="parameters" element="ns:getAvgSizeSentResponse"/>
    </wsdl:message>
    <wsdl:message name="getMessagesSentRequest">
        <wsdl:part name="parameters" element="ns:getMessagesSent"/>
    </wsdl:message>
    <wsdl:message name="getMessagesSentResponse">
        <wsdl:part name="parameters" element="ns:getMessagesSentResponse"/>
    </wsdl:message>
    <wsdl:portType name="TransportStatisticsAdminPortType">
        <wsdl:operation name="getFaultsSending">
            <wsdl:input message="ns:getFaultsSendingRequest" wsaw:Action="urn:getFaultsSending"/>
            <wsdl:output message="ns:getFaultsSendingResponse" wsaw:Action="urn:getFaultsSendingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getQueueSize">
            <wsdl:input message="ns:getQueueSizeRequest" wsaw:Action="urn:getQueueSize"/>
            <wsdl:output message="ns:getQueueSizeResponse" wsaw:Action="urn:getQueueSizeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getBytesSent">
            <wsdl:input message="ns:getBytesSentRequest" wsaw:Action="urn:getBytesSent"/>
            <wsdl:output message="ns:getBytesSentResponse" wsaw:Action="urn:getBytesSentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMinSizeReceived">
            <wsdl:input message="ns:getMinSizeReceivedRequest" wsaw:Action="urn:getMinSizeReceived"/>
            <wsdl:output message="ns:getMinSizeReceivedResponse" wsaw:Action="urn:getMinSizeReceivedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransportStatistic">
            <wsdl:input message="ns:getTransportStatisticRequest" wsaw:Action="urn:getTransportStatistic"/>
            <wsdl:output message="ns:getTransportStatisticResponse" wsaw:Action="urn:getTransportStatisticResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getBytesReceived">
            <wsdl:input message="ns:getBytesReceivedRequest" wsaw:Action="urn:getBytesReceived"/>
            <wsdl:output message="ns:getBytesReceivedResponse" wsaw:Action="urn:getBytesReceivedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMinSizeSent">
            <wsdl:input message="ns:getMinSizeSentRequest" wsaw:Action="urn:getMinSizeSent"/>
            <wsdl:output message="ns:getMinSizeSentResponse" wsaw:Action="urn:getMinSizeSentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTimeoutsSending">
            <wsdl:input message="ns:getTimeoutsSendingRequest" wsaw:Action="urn:getTimeoutsSending"/>
            <wsdl:output message="ns:getTimeoutsSendingResponse" wsaw:Action="urn:getTimeoutsSendingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportStatistics">
            <wsdl:input message="ns:getAllTransportStatisticsRequest" wsaw:Action="urn:getAllTransportStatistics"/>
            <wsdl:output message="ns:getAllTransportStatisticsResponse" wsaw:Action="urn:getAllTransportStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getFaultsReceiving">
            <wsdl:input message="ns:getFaultsReceivingRequest" wsaw:Action="urn:getFaultsReceiving"/>
            <wsdl:output message="ns:getFaultsReceivingResponse" wsaw:Action="urn:getFaultsReceivingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveThreadCount">
            <wsdl:input message="ns:getActiveThreadCountRequest" wsaw:Action="urn:getActiveThreadCount"/>
            <wsdl:output message="ns:getActiveThreadCountResponse" wsaw:Action="urn:getActiveThreadCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMaxSizeReceived">
            <wsdl:input message="ns:getMaxSizeReceivedRequest" wsaw:Action="urn:getMaxSizeReceived"/>
            <wsdl:output message="ns:getMaxSizeReceivedResponse" wsaw:Action="urn:getMaxSizeReceivedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMaxSizeSent">
            <wsdl:input message="ns:getMaxSizeSentRequest" wsaw:Action="urn:getMaxSizeSent"/>
            <wsdl:output message="ns:getMaxSizeSentResponse" wsaw:Action="urn:getMaxSizeSentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMessagesReceived">
            <wsdl:input message="ns:getMessagesReceivedRequest" wsaw:Action="urn:getMessagesReceived"/>
            <wsdl:output message="ns:getMessagesReceivedResponse" wsaw:Action="urn:getMessagesReceivedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMetricsWindow">
            <wsdl:input message="ns:getMetricsWindowRequest" wsaw:Action="urn:getMetricsWindow"/>
            <wsdl:output message="ns:getMetricsWindowResponse" wsaw:Action="urn:getMetricsWindowResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTimeoutsReceiving">
            <wsdl:input message="ns:getTimeoutsReceivingRequest" wsaw:Action="urn:getTimeoutsReceiving"/>
            <wsdl:output message="ns:getTimeoutsReceivingResponse" wsaw:Action="urn:getTimeoutsReceivingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getThreadViewStatistics">
            <wsdl:input message="ns:getThreadViewStatisticsRequest" wsaw:Action="urn:getThreadViewStatistics"/>
            <wsdl:output message="ns:getThreadViewStatisticsResponse" wsaw:Action="urn:getThreadViewStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransportClassName">
            <wsdl:input message="ns:getTransportClassNameRequest" wsaw:Action="urn:getTransportClassName"/>
            <wsdl:output message="ns:getTransportClassNameResponse" wsaw:Action="urn:getTransportClassNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAvgSizeReceived">
            <wsdl:input message="ns:getAvgSizeReceivedRequest" wsaw:Action="urn:getAvgSizeReceived"/>
            <wsdl:output message="ns:getAvgSizeReceivedResponse" wsaw:Action="urn:getAvgSizeReceivedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getExposedTransports">
            <wsdl:input message="ns:getExposedTransportsRequest" wsaw:Action="urn:getExposedTransports"/>
            <wsdl:output message="ns:getExposedTransportsResponse" wsaw:Action="urn:getExposedTransportsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getLastResetTime">
            <wsdl:input message="ns:getLastResetTimeRequest" wsaw:Action="urn:getLastResetTime"/>
            <wsdl:output message="ns:getLastResetTimeResponse" wsaw:Action="urn:getLastResetTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAvgSizeSent">
            <wsdl:input message="ns:getAvgSizeSentRequest" wsaw:Action="urn:getAvgSizeSent"/>
            <wsdl:output message="ns:getAvgSizeSentResponse" wsaw:Action="urn:getAvgSizeSentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMessagesSent">
            <wsdl:input message="ns:getMessagesSentRequest" wsaw:Action="urn:getMessagesSent"/>
            <wsdl:output message="ns:getMessagesSentResponse" wsaw:Action="urn:getMessagesSentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TransportStatisticsAdminSoap11Binding" type="ns:TransportStatisticsAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFaultsSending">
            <soap:operation soapAction="urn:getFaultsSending" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getQueueSize">
            <soap:operation soapAction="urn:getQueueSize" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinSizeReceived">
            <soap:operation soapAction="urn:getMinSizeReceived" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBytesSent">
            <soap:operation soapAction="urn:getBytesSent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransportStatistic">
            <soap:operation soapAction="urn:getTransportStatistic" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinSizeSent">
            <soap:operation soapAction="urn:getMinSizeSent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBytesReceived">
            <soap:operation soapAction="urn:getBytesReceived" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTimeoutsSending">
            <soap:operation soapAction="urn:getTimeoutsSending" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportStatistics">
            <soap:operation soapAction="urn:getAllTransportStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFaultsReceiving">
            <soap:operation soapAction="urn:getFaultsReceiving" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveThreadCount">
            <soap:operation soapAction="urn:getActiveThreadCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxSizeSent">
            <soap:operation soapAction="urn:getMaxSizeSent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxSizeReceived">
            <soap:operation soapAction="urn:getMaxSizeReceived" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessagesReceived">
            <soap:operation soapAction="urn:getMessagesReceived" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMetricsWindow">
            <soap:operation soapAction="urn:getMetricsWindow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTimeoutsReceiving">
            <soap:operation soapAction="urn:getTimeoutsReceiving" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransportClassName">
            <soap:operation soapAction="urn:getTransportClassName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getThreadViewStatistics">
            <soap:operation soapAction="urn:getThreadViewStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgSizeReceived">
            <soap:operation soapAction="urn:getAvgSizeReceived" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExposedTransports">
            <soap:operation soapAction="urn:getExposedTransports" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLastResetTime">
            <soap:operation soapAction="urn:getLastResetTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessagesSent">
            <soap:operation soapAction="urn:getMessagesSent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgSizeSent">
            <soap:operation soapAction="urn:getAvgSizeSent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TransportStatisticsAdminSoap12Binding" type="ns:TransportStatisticsAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFaultsSending">
            <soap12:operation soapAction="urn:getFaultsSending" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getQueueSize">
            <soap12:operation soapAction="urn:getQueueSize" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinSizeReceived">
            <soap12:operation soapAction="urn:getMinSizeReceived" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBytesSent">
            <soap12:operation soapAction="urn:getBytesSent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransportStatistic">
            <soap12:operation soapAction="urn:getTransportStatistic" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinSizeSent">
            <soap12:operation soapAction="urn:getMinSizeSent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBytesReceived">
            <soap12:operation soapAction="urn:getBytesReceived" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTimeoutsSending">
            <soap12:operation soapAction="urn:getTimeoutsSending" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportStatistics">
            <soap12:operation soapAction="urn:getAllTransportStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFaultsReceiving">
            <soap12:operation soapAction="urn:getFaultsReceiving" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveThreadCount">
            <soap12:operation soapAction="urn:getActiveThreadCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxSizeSent">
            <soap12:operation soapAction="urn:getMaxSizeSent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxSizeReceived">
            <soap12:operation soapAction="urn:getMaxSizeReceived" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessagesReceived">
            <soap12:operation soapAction="urn:getMessagesReceived" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMetricsWindow">
            <soap12:operation soapAction="urn:getMetricsWindow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTimeoutsReceiving">
            <soap12:operation soapAction="urn:getTimeoutsReceiving" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransportClassName">
            <soap12:operation soapAction="urn:getTransportClassName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getThreadViewStatistics">
            <soap12:operation soapAction="urn:getThreadViewStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgSizeReceived">
            <soap12:operation soapAction="urn:getAvgSizeReceived" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExposedTransports">
            <soap12:operation soapAction="urn:getExposedTransports" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLastResetTime">
            <soap12:operation soapAction="urn:getLastResetTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessagesSent">
            <soap12:operation soapAction="urn:getMessagesSent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgSizeSent">
            <soap12:operation soapAction="urn:getAvgSizeSent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TransportStatisticsAdminHttpBinding" type="ns:TransportStatisticsAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getFaultsSending">
            <http:operation location="getFaultsSending"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getFaultsSending"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getFaultsSending"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getQueueSize">
            <http:operation location="getQueueSize"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getQueueSize"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getQueueSize"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinSizeReceived">
            <http:operation location="getMinSizeReceived"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMinSizeReceived"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMinSizeReceived"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBytesSent">
            <http:operation location="getBytesSent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getBytesSent"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getBytesSent"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransportStatistic">
            <http:operation location="getTransportStatistic"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTransportStatistic"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTransportStatistic"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinSizeSent">
            <http:operation location="getMinSizeSent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMinSizeSent"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMinSizeSent"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBytesReceived">
            <http:operation location="getBytesReceived"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getBytesReceived"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getBytesReceived"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTimeoutsSending">
            <http:operation location="getTimeoutsSending"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTimeoutsSending"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTimeoutsSending"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportStatistics">
            <http:operation location="getAllTransportStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllTransportStatistics"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllTransportStatistics"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFaultsReceiving">
            <http:operation location="getFaultsReceiving"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getFaultsReceiving"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getFaultsReceiving"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveThreadCount">
            <http:operation location="getActiveThreadCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getActiveThreadCount"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getActiveThreadCount"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxSizeSent">
            <http:operation location="getMaxSizeSent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMaxSizeSent"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMaxSizeSent"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxSizeReceived">
            <http:operation location="getMaxSizeReceived"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMaxSizeReceived"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMaxSizeReceived"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessagesReceived">
            <http:operation location="getMessagesReceived"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMessagesReceived"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMessagesReceived"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMetricsWindow">
            <http:operation location="getMetricsWindow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMetricsWindow"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMetricsWindow"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTimeoutsReceiving">
            <http:operation location="getTimeoutsReceiving"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTimeoutsReceiving"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTimeoutsReceiving"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransportClassName">
            <http:operation location="getTransportClassName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTransportClassName"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTransportClassName"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getThreadViewStatistics">
            <http:operation location="getThreadViewStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getThreadViewStatistics"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getThreadViewStatistics"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgSizeReceived">
            <http:operation location="getAvgSizeReceived"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAvgSizeReceived"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAvgSizeReceived"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExposedTransports">
            <http:operation location="getExposedTransports"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getExposedTransports"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getExposedTransports"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLastResetTime">
            <http:operation location="getLastResetTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getLastResetTime"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getLastResetTime"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessagesSent">
            <http:operation location="getMessagesSent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMessagesSent"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMessagesSent"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgSizeSent">
            <http:operation location="getAvgSizeSent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAvgSizeSent"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAvgSizeSent"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TransportStatisticsAdmin">
        <wsdl:port name="TransportStatisticsAdminHttpSoap11Endpoint" binding="ns:TransportStatisticsAdminSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/TransportStatisticsAdmin"/>
        </wsdl:port>
        <wsdl:port name="TransportStatisticsAdminHttpSoap12Endpoint" binding="ns:TransportStatisticsAdminSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/TransportStatisticsAdmin"/>
        </wsdl:port>
        <wsdl:port name="TransportStatisticsAdminHttpEndpoint" binding="ns:TransportStatisticsAdminHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/TransportStatisticsAdmin"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>